.home-container {
  min-height: 100vh;

  .home-header {
    width: 100%;
    position: fixed;
    height: 60px;
    top: 0px;
    background-color: $primary;
    color: $gray-200;
    z-index: 99;
  }
  .home-nav-items {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
  }

  .dater-logo {
    margin-right: auto;
  }

  .dater-login-btn {
    margin-left: 20px;
    width: 100px;
    background-color: $yellow;
    color: $gray-800;
    border-radius: 10px;
    padding: 6px 0px;
    font-weight: bold;
  }

  span {
    padding: 6px 0px;
  }
  .dater-login-btn:hover {
    background-color: $gray-700;
    color: $gray-100;
  }

  .background-content {
    background-image: url("/home-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    margin-top: 60px;
    padding-top: 30px;
    color: $gray-200;
    margin-bottom: 30px;
  }

  .registration-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
  }

  .registration-form form label {
    margin-top: 10px;
  }

  .registration-form form button {
    background-color: $yellow;
    height: 40px;
    margin: 10px 0px;
    border-radius: 10px;
    width: 100%;
  }

  .react-datepicker__navigation {
    align-items: center;
    background: none;
    background-color: #f0f0f0 !important;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 2px;
    padding: 0;
    border: none;
    z-index: 1;
    height: 32px !important;
    width: 32px !important;
    text-indent: -999em;
    overflow: hidden;
  }

  .registration-form form button:hover {
    background-color: $gray-700;
    color: $gray-100;
  }

  .welcome-text {
    line-height: 40px;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 50px;
    text-align: center;
  }

  .welcome-text h3 {
    margin-top: 50px;
  }

  @media (max-width: 768px) {
    .registration-form {
      justify-content: center;
      align-items: center;
    }

    .registration-form form {
      width: 80%;
    }

    .welcome-text {
      margin: auto;
      margin-bottom: 50px;
    }
  }

  .info {
    line-height: 30px;
    text-align: center;
    margin-bottom: 50px;
    margin: auto;
    text-transform: capitalize;
  }

  .info h2 {
    color: $primary;
    font-size: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  footer {
    width: 100%;
    min-height: 70px;
    border-top: 3px solid $primary-2;
    border-bottom: 3px solid $primary-2;
    margin-top: 20px;
  }

  @media (max-width: 576px) {
    .info {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
