
.messages{

    .message-header{
        height: 50px;
        padding: 5px 0px;
        background-color: white;
        position: fixed;
        top: 60px;
        right: 30px;
        left: 330px;
         z-index: 1;
        border-bottom: 3px solid $primary;
        display: none;
        }

        .show-message-header{
            display: flex;
        }

    .message-header button{
          display: none;
      }

    .messages-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
      
    }

    .message-list{
        width: 350px;
        height: 100%;
        position: fixed;
        left: 330px;
        top: 60px;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: white;
        padding-top: 70px;
        padding-bottom: 100px;
    }

    .message-body{
        padding: 15px;
        height: 100%;
        top: 60px;
        left: 681px;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: white;
        right: 30px;
        padding-top: 70px;
        padding-bottom: 100px;
    }

    .message-card{
        display: flex;
        flex-direction: row;
        padding: 10px;
        border-bottom: 1px solid $gray-400;
    }

    .message-card:hover{
        cursor: pointer;
        background-color: $gray-200;
    }
    
    .message-card-img{
        border-radius: 50%;
    }

   .message-card .no-read{
        font-weight: bold;
    }

   .message-card .last-message-el{
        margin: 0px  15px;
    }

    .message-card .time{
        position: absolute;
        right: 10px;
    }
   
    .message-card .first-name{
        font-size: 18px;
        font-weight: bold;
    }
.message-card .count{
    padding: 0 5px;
    background-color: $blue;
    border-radius: 50%;
    color: white;
}

   .message-list::-webkit-scrollbar, .message-body::-webkit-scrollbar{
        width: 5px;
        background-color: inherit;
        }
        
     .message-list::-webkit-scrollbar-thumb, .message-body::-webkit-scrollbar-thumb{
            background-color: $gray-300;
            border-radius: 0 8px 8px 0;
            min-height: 50px;
        }

      .message-text{
          position: relative;
         background-color: red;
         margin: 10px 0px;
      }
      
     .me{
   text-align: right;
        
     }

  .them{
         text-align: left;
           
      }
       
    .active-thread{
            background-color: $gray-200; 
     }


        .message-input-container{
            position: fixed;
            bottom: 0;
            right: 30px;
            padding: 10px;
            display: none;
            background-color: $gray-300;
            left: 681px;
            z-index: 999;
        }

        .show-message-input{
            display: block;
         }

        .message-input-contents{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            text-align: center;
        }

        .message-input-contents div{
            margin: 0px 10px;
        }

        .message-input-box{
            width: 80%
        }

        .message-input{
            min-height: 40px;
            width: 100%; 
            margin: 0px 15px;
            max-height: 100px;
            border-radius: 50px;
            background-color: white;
            overflow: hidden;
            padding: 10px;
            resize: none;
            display: block;

        }

        .message-input:focus{
            outline: none;
        }

        .send-btn{
            color: $primary;
        }

        .file-btn{
            transform: rotate(90deg);
        }

        .emoji-box{
            display: none;
            z-index: 3;
        }

        .show-emoji-box{
            display: block;
            position: absolute;
            bottom: 80px;
            z-index: 300;
        }

       

        @media(max-width: 1124px){
            .show-message-header{
                display: flex;
                height: 60px;
                top: 0;
                right: 0;
                left: 0;
                z-index: 200;
            }
            

            .show-message-header button{
                display: flex;
            }

            .message-body{
                display: none;
            }

            .show-message-modal{
                display: block;
                z-index: 1;
                top: 30px;
                bottom: 0;
                right: 20px;
                left: 20px;
                padding-top: 70px;
            }

            .show-message-input{
                left: 20px;
                right: 20px;
             }

             .message-input{
                min-height: 30px;
            } 

           
        }

        @media(max-width: 768px){
            .message-list{ 
               left: auto;
               right: auto;
               padding-top: 70px
            }

         
        }

        
        @media(max-width: 512px){
            .message-list{ 
               left: auto;
               right: auto;
               width: 300px;
            }

           
        }
}

