.notifications {
  .card-header {
    border-top: 8px solid $teal;
  }

  .modal-content {
    border-top: 8px solid $teal;
  }

  .notification-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  .notification-card-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .notification-item:nth-child(2) {
    margin-top: 15px;
  }
  .notification-card:hover {
    background-color: $gray-600;
  }
}
