.main-sidebar{
   .user-panel-box{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 150px;

   }

  .nav-item{
     margin: 10px 0px!important;
  }
}