
    .auth-user-avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        
     .main-header{
         a:hover{
             color: $gray-200!important;
         }

       .navbar-dropdown{
           z-index: 9999;
       }  
     }   