
    .auth-user-avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        
     .main-header{
        z-index: 5000!important;
         a:hover{
             color: $gray-200!important;
         }
     }   