
.user-card{
    .card{
        background-color: white!important;
        border-radius: 15px;
    }

    button.liked{
    color:  #e83e8c!important;
    }

    .card-body a{
        color: $gray-800;
    }
    
    .user-icons button{
      color: $primary;
    }

    .user-icons{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 20px;
    }

    .user-icons button span:hover{
        color: $gray-500;
    }

    
    .status{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 8px;
    }

    .active{
        background-color: $green;
    }

    .not-active{
        background-color: $gray-600;
    }
}


.friend-requests-card{
    .action-btns{
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
    }

    .accept{
        background-color: $primary;
        color: $gray-200;
        border-radius: 5px;   
        width: 100px;
        padding: 5px;
        margin-right: 10px;
    }

    .reject{
        background-color: $gray-300;
        color: $gray-800;
        border-radius: 5px;   
        width: 100px;
        padding: 5px;
    }

    
   
}

.user-cards-header{
    display: flex;
    flex-direction: row;
    justify-content: center; 

    .info-box{
        width: 60%
    }
}


.user-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .user-cards .scroll-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .user-card-img{
        height: 170px;
        width: 100%;
        border-radius: 15px;
    }
    
    .user-card{
        width: 200px;
        margin: 15px;
    }


    @media(max-width: 768px){
        .user-card{
            width: 40%;
        }
    
    }


    @media(max-width: 576px){
        .user-card{
            width: 80%;
        }
    
        .user-card-img{
            height: 250px;
        }

    }

    