
.user-card{
    .user-icons button{
      color: $primary;
    }

    .user-icons{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 20px;
    }

    .user-icons button span:hover{
        padding: 10px;
        background-color: $primary;
        color: white;
        border-radius: 50%;
    }

    .user-card-img{
        height: 200px;
        width: 100%;
    }

}


.friend-requests-card{
    .action-btns{
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
    }

    .accept{
        background-color: $primary;
        color: $gray-200;
        border-radius: 5px;   
        width: 100px;
        padding: 5px;
    }

    .reject{
        background-color: $gray-300;
        color: $gray-800;
        border-radius: 5px;   
        width: 100px;
        padding: 5px;
    }

   
}

.feed{
    .user-cards{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .user-card{
        width: 20%;
        margin: 15px;
    }

    @media(max-width: 1124px){
        .user-card{
            width: 25%;
        }
    }

    @media(max-width: 768px){
        .user-cards{
            justify-content: center;
            
        }
    
        .user-card{
            width: 50%;
        }
    }
}